/* Variables to store Colors */
$Primary_Color: #060606;
$Accent_Color: #ffffff;
$Primary_Text: #f7f7f7;
$Secondary_Text: #676b49;
$BG-Color-1: rgb(200, 200, 202);
$BG-Color-2: rgb(219, 200, 190);
$TextIcons_Color: rgb(200, 200, 202);


/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Raleway:200,300,400,700&display=swap');

/* Fonts */ 
$Heading_Font : 'Playfair Display', serif;
$Regular_Font : 'Raleway', sans-serif;
