/* Project imports */
@import "mixins";
@import "custom_variables";
@import "../bootstrap/scss/bootstrap.scss";
@import "../fontawesome/scss/fontawesome.scss";
@import "../fontawesome/scss/solid.scss";
@import "../fontawesome/scss/brands.scss";



.container-fluid {

  padding-right: 0;
  padding-left: 0;
  font-family: $Regular_Font;

  header {
    font-family: $Heading_Font;
    color: $TextIcons_Color;
  }

  a {
    color: $TextIcons_Color !important;
  }

  nav {
    background-color: $Primary_Color !important;
    padding: 1.2rem;
  }

  h5 {
    margin-bottom: 4px;
  }

  .logo-description {
    font-size: 0.75rem;
  }

  .logo-img {
    height: 75px;
  }

  @media screen and(min-width:2560px) {
    .h5 {
      font-size: 3rem;
    }

    .logo-img {
      height: 125px;
    }

    .logo-description {
      font-size: 2rem;
    }

    .nav-item {
      font-size: 2rem;
    }
  }

  @media all and (max-width: 420px) {
    .h5 {
      font-size: 0.85rem;
    }

    .logo-description {
      display: none;
    }

    .navbar-toggler {
      display: flex;
      justify-content: center;
    }
  }

  .about {
    margin-top: 113px;
    width: 100%;

    .store-info {
      font-family: $Heading_Font;
      color: $Primary_Text;
      position: absolute;
      top: 50%;
      z-index: 10;
    }

    .h4 {
      font-weight: 700;
      margin-bottom: 5rem;
      letter-spacing: 2px; 
      text-shadow: -1px 0px #2c2b2b;
    }

    .display-4 {
      margin-bottom: 2rem;
      text-shadow: -1px 0px #2c2b2b;
    }

    .store-description {
      font-family: Regular_Font;
      text-align: center;
      font-size: 1.2rem;
      line-height: 1.3rem;
      padding: 0px 20rem;
      text-shadow: -1px 0px #2c2b2b;

    }

    @media screen and(min-width:2560px) {
      .store-info {
        top: 25%;
      }

      .display-4 {
        font-size: 10rem;
      }

      .h4 {
        font-size: 5rem;
      }

      .store-description {
        font-size: 2.5rem;
        line-height: 1.4;
      }
    }

    @media screen and(max-width:1440px) {
      .store-info {
        top: 30%;
      }

      .store-description {
        font-weight: 400;
        font-size: 1.5rem;
      }
    }

    @media screen and(max-width: 1024px) {
      .store-info {
        top: 20%;
      }

      .store-description {
        font-size: 0.9rem;
        padding: 0 10rem;
      }
    }

    @media screen and(max-width: 700px) {
      .store-info {
        top: 20%
      }

      .display-4 {
        font-size: 5vw;
        margin-bottom: 2vw;
      }

      .h4 {
        font-size: 2.5vw;
        margin-bottom: 4vw;
      }

      .store-description {
        font-size: 1vw;
        line-height: 1.2;
        text-align: justify !important;
        padding: 0 5rem;
      }
    }
  }

  .about-video {
    min-height: 20vh;
    background-color: $Accent_Color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .btn {
      margin-top: 2vh;
      margin-bottom: 2vh;
    }

    .iframe-toggle {
      position: relative;
      width: 80%;
      padding-bottom: 56.25%;
      height: 0;
      display: none;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
      }
    }

    @media screen and(min-width: 2560px) {
      .about-video {
        min-height: 10vh;
      }
    }
  }

  .products {

    .row {
      margin: 10vh;
    }

    .product-item {
      min-height: 25vh;
      background-color: $BG-Color-2;
      margin-bottom: 1vh;

    }

    .h6,
    .product-price {
      font-family: $Regular_Font;
      color: darken($Secondary_Text, 30);
    }

    @media screen and(max-width:768px) {
      .row {
        margin: 2vh !important;
      }

      .col-md-4 {
        margin-bottom: 2vh;
      }
    }
  }

  .featuring-brands {
    .row {
      margin: 10vh;
    }

    .brand-img {
      display: block;
      max-width: 100%;
      height: auto;
    }

    .brand-name {
      color: $Secondary_Text;
    }
    .col-md-6 {
      margin-bottom: 15vh;
    }

    @media screen and(max-width: 374px) {
      .row {
        margin-left: 15px;
        margin-right: 15px;
      }

      .brand-description {
        font-size: 0.85rem;
      }
    }
  }

  .working-schedule {
    .row {
      margin: 3vh 4vw 4vh 4vw;
    }

    .col {

      min-height: 30vh;
      font-weight: 700;
      font-size: 1.4rem;
      color: $Accent_Color;
      font-family: $Heading_Font;
      text-shadow: -1px 0px 0px #2d2b2b;
      position: relative;

      &::after {
        content: "";
        background: url("../img/background-guitar.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        opacity: 0.7;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
      }
    }

    .schedule-title {
      font-size: 3rem;
    }

    h5 {
      font-size: 1.75rem;
    }

    .schedule-container {
      margin-top: 8vh;
    }
  }

  .footer {
    .form-group {
      font-family: $Regular_Font;

      .form-label {
        font-size: 2rem;
      }

      .form-control {
        border: 1px solid #000000;
        border-radius: 0;
        margin-bottom: 1vh;
      }

      .button-submit {
        width: 100%;
        background-color: $Primary_Color;
        border: none;
        color: $Accent_Color;
        padding: 0.58vh 0;
        margin-bottom: 2vh;
        transition: 200ms;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          background-color: #67a7fc;
        }
      }

    }

    .social {
      margin-bottom: 2vh;

      .social-buttons {
        display: flex;
        justify-content: center;
        a {
          color: #000000 !important;
          transition: 200ms;
          &:hover {
            opacity: 0.7;
          }
          &:active {
            opacity: 1;
            color: #67a7fc !important;
          }
        }
      }

      .social-item {
        margin-right: 3vw;
      }
    }
  }
}